html {
	background-color: black;
}

.wer {
	position: absolute;
	top: 11.3px;
	left: 34px;
	width: 92px;
	height: 92x;
}

.zxc {
	background-image: linear-gradient(to left, rgb(222, 222, 222), rgb(204, 190, 190));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Georgia, serif;
	font-size: 25px;
	font-weight: lighter;
	position: absolute;
	margin-top: -69px;
	margin-left: 117.5px;
}

.qwerty {
	border-color: white;
	margin-top: 93.4px;
	border-style: solid;
	border-bottom-width: 0;
	margin-left: -10px;
	width: 1366px;
}